In [23]:
import pandas as pd

In [24]:
pd.read_csv('max.csv')

     Max for a title                                              Title
0               4633  Wheel Accessories Parts 20 Dual Coating Chrome...
1               2824  Wheel Accessories Parts Set of 32 Chrome Spike...
2               2628  Wheel Accessories Parts Set of 24 Black Spiked...
3               2536  Wheel Accessories Parts Set of 24 14x1.5 Lug N...
4               2185  Wheel Accessories Parts Set of 32 Black Spiked...
..               ...                                                ...
497               10  Wheel Spacer - Bolt-On Spacer Kit - 5x100-5x11...
498               10  Wheel Accessories Parts Set of 20 Black 7/16 L...
499               10  Wheel Accessories Parts Set of 20 Lug Nut Clos...
500               10  Wheel Accessories Parts Set of 20 Chrome 14x2....
501               10  Wheel Accessories Parts Set of 20 Black 1/2 Op...

[502 rows x 2 columns]

In [25]:
modal= pd.read_csv("Data-NLP.csv")

In [26]:
modal

     Max for a title                                              Title
0               4633  Wheel Accessories Parts 20 Dual Coating Chrome...
1               2824  Wheel Accessories Parts Set of 32 Chrome Spike...
2               2628  Wheel Accessories Parts Set of 24 Black Spiked...
3               2536  Wheel Accessories Parts Set of 24 14x1.5 Lug N...
4               2185  Wheel Accessories Parts Set of 32 Black Spiked...
..               ...                                                ...
496               10  Wheel Spacer - Bolt-On Spacer Kit - 5x100-5x11...
497               10  Wheel Accessories Parts Set of 20 Black 7/16 L...
498               10  Wheel Accessories Parts Set of 20 Lug Nut Clos...
499               10  Wheel Accessories Parts Set of 20 Chrome 14x2....
500               10  Wheel Accessories Parts Set of 20 Black 1/2 Op...

[501 rows x 2 columns]

In [27]:
import spacy

In [28]:
## for data
import pandas as pd
import collections
import json
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
import wordcloud
## for text processing
import re
import nltk
## for language detection
import langdetect 
## for sentiment
from textblob import TextBlob
## for ner
import spacy
## for vectorizer
from sklearn import feature_extraction, manifold
## for word embedding
import gensim.downloader as gensim_api
## for topic modeling
import gensim

In [39]:
from stop_words import get_stop_words
from nltk.stem.snowball import SnowballStemmer
from Levenshtein import *

In [32]:
txt = modal["Title"].iloc[0]

In [33]:
print(txt, " --> ", langdetect.detect(txt))

Wheel Accessories Parts 20 Dual Coating Chrome 12x1.5 Closed End Bulge Acorn Lug Nuts - Cone Seat - 19mm Hex Wheel Lug Nut  -->  en

In [34]:
print(txt)

Wheel Accessories Parts 20 Dual Coating Chrome 12x1.5 Closed End Bulge Acorn Lug Nuts - Cone Seat - 19mm Hex Wheel Lug Nut

In [35]:
txt = re.sub(r'[^\w\s]', '', str(txt).lower().strip())

In [36]:
txt = txt.split()

In [37]:
print(txt)

['wheel', 'accessories', 'parts', '20', 'dual', 'coating', 'chrome', '12x15', 'closed', 'end', 'bulge', 'acorn', 'lug', 'nuts', 'cone', 'seat', '19mm', 'hex', 'wheel', 'lug', 'nut']

In [41]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sarslan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [42]:
lst_stopwords = nltk.corpus.stopwords.words("english")

In [43]:
lst_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [44]:
txt = [word for word in txt if word not in lst_stopwords]

In [45]:
print(txt)

['wheel', 'accessories', 'parts', '20', 'dual', 'coating', 'chrome', '12x15', 'closed', 'end', 'bulge', 'acorn', 'lug', 'nuts', 'cone', 'seat', '19mm', 'hex', 'wheel', 'lug', 'nut']

In [48]:
modal['word_count'] = modal["Title"].apply(lambda x: len(str(x).split(" ")))
modal['char_count'] = modal["Title"].apply(lambda x: sum(len(word) for word in str(x).split(" ")))
modal['sentence_count'] = modal["Title"].apply(lambda x: len(str(x).split(".")))
modal['avg_word_length'] = modal['char_count'] / modal['word_count']
modal['avg_sentence_lenght'] = modal['word_count'] / modal['sentence_count']
modal.head()

,Max for a title,Title,word_count,char_count,sentence_count,avg_word_length,avg_sentence_lenght
0,4633,Wheel Accessories Parts 20 Dual Coating Chrome...,23,100,2,4.347826,11.500000
1,2824,Wheel Accessories Parts Set of 32 Chrome Spike...,28,125,3,4.464286,9.333333
2,2628,Wheel Accessories Parts Set of 24 Black Spiked...,36,163,3,4.527778,12.000000
3,2536,Wheel Accessories Parts Set of 24 14x1.5 Lug N...,17,79,2,4.647059,8.500000
4,2185,Wheel Accessories Parts Set of 32 Black Spiked...,28,124,3,4.428571,9.333333